<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col input-group">
      <input class="form-control" type="file" (change)="onChange($event)">
      <button (click)="onUpload()"
              class="btn btn-success">
        Upload
      </button>
    </div>
    <div class="col">
      <button (click)="onDetection()"
              class="btn btn-success">
        Automatic Detection
      </button>
    </div>
  </div>
</div>
<!-- Shareable short link of uoloaded file -->
<div class="container text-center jumbotron"
     *ngIf="shortLink">
  <h6>{{ response | json }}</h6>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3>Loading ...</h3>
</div>
