<div class="container">
  <!-- Part to upload an image -->
  <div class="row">
    <div class="col input-group">
      <input class="form-control" type="file" (change)="onChange($event)" required>
      <button [disabled]=!this.file 
              (click)="onUpload()" 
              class="btn btn-success" >
              Upload
      </button>
    </div>
  </div>

  <!-- Form to fill to launch the lanfmarks detection -->
  <form [formGroup]="form">
    <div class="row">
      <label>
        Nombre de hanches :
        <div class="col">
          <input name="number" ng-control="options" type="radio" formControlName="nbrHip" [value]="1"  /> 1
          <input name="number" ng-control="options" type="radio" formControlName="nbrHip" [value]="2"  /> 2
        </div>
      </label>
    </div>
    <div class="row">
      <label>
        Côté opéré :
        <div class="col">
          <input name="side" ng-control="options" type="radio" formControlName="side" [value]="1" /> Gauche 
          <input name="side" ng-control="options" type="radio" formControlName="side" [value]="2" /> Droit
        </div>
      </label>
      <div class="col">
        <button [disabled]="verif() || !this.file" (click)="onDetection()"
                class="btn btn-success">
            Automatic Detection
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Infos about returned by the backend -->
<div class="container text-center jumbotron"
     *ngIf="shortLink">
  <h6>{{ response | json }}</h6>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3>Loading ...</h3>
</div>
